/**
 * @link              http://omidakhavan.ir
 * @since             1.0.0
 * @package           boss-maintenance
 *
 * */
@font-face {
  font-family: 'fontello';
  src: url('.././font/fontello.eot?48179047');
  src: url('.././font/fontello.eot?48179047#iefix') format('embedded-opentype'),
       url('.././font/fontello.woff?48179047') format('woff'),
       url('.././font/fontello.ttf?48179047') format('truetype'),
       url('.././font/fontello.svg?48179047#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
     

@import url(https://fonts.googleapis.com/css?family=Raleway:600,700,300,400,400italic,500);
@import url(https://fonts.googleapis.com/css?family=Lato:900);

body{
	text-align: center;
	background-color: #ffffff;
}

#hdm_content{
	background-color: #ebe9e9;
	margin: 41px 41px 0 41px;
	padding: 97px 0 0 0;
}



#hdm_messages{
	padding: 40px 0 0 0;
	font-size: 16px;
	font-family: 'Raleway',sans-serif;
	color: #606060;
}


/**counter*/
#hdm_counter{
	padding: 100px 0 80px 0;

}
@media only screen and (max-width: 480px) {
	ul#countdown li{
		padding-left: 0px;
	}	
}

@media only screen and (min-width: 598px) and (max-width: 758px){
	ul#countdown li{
		padding-left: 30px;
	}	
}
@media only screen and (min-width: 599px){
	ul#countdown li{
		margin: auto;
		width: 20%;
	}	
}
ul#countdown li{
	color: #3d3d3d;
	display: inline;
	float: left;
	font-family: 'Lato', sans-serif;
	font-size: 74px;
	letter-spacing: 5px;
	text-align: center;
	
}

ul#countdown p {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
}
ul#countdown  p.timeRefDays, ul#countdown  p.timeRefHours, ul#countdown  p.timeRefMinutes, ul#countdown  p.timeRefSeconds{
	font: 'Raleway:600',sans-serif;
	letter-spacing: 0;
	margin: 0;
	padding-bottom: 5px;
}

/**newsletter*/
.hdm_title_news{
	margin: 100px 0 0 0;
	font-family: 'Raleway',sans-serif;
	color: #3d3d3d;
	font-size: 27.54px;
}

.hdm_msg_news{
	margin: 47px 0 0 0 ;
	font-family: 'Raleway:600',sans-serif;
	color: #828282;
	font-size: 16px;
}

.hdm_form_news{
	margin-top: 50px;
}

.notify_btn{
    background-color: transparent;
    background-repeat:no-repeat;
	font-family: 'Raleway:600',sans-serif;
	font-size: 13px;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding-right: 25px;
    margin-left: -130px;	
}

#hdm_cntct_frm{
	margin: 100px 0 0 0;
}

#hdm_acontact_title{
	font-size: 27.54px;
	font-family: 'Raleway:600',sans-serif;
	color: #3d3d3d;
}

#hdm_contact_form{
	margin: 45px 0 0 0;
}

input[type=text]{
	padding: 0 0 0 24px;
	font-family: 'Raleway:400italic',sans-serif;
	border-color: 1px solid #bbbbbb;
	width: 586px;
	height: 55px;
	font-size: 16px;
}

#hdm_msg{
	height:225px;
	width:586px;
	font-size: 16px;
	padding:20px 0 0 24px;
	font-family: 'Raleway:400italic',sans-serif;
	border-color: 1px solid #bbbbbb;
	position: relative;
}	

input[type=submit]{
	margin-top: -21px;
	background-color: #3d3d3d;
	color: #ffffff;
	width: 615px;
	height: 53px;
	font-size: 13px;
	font-family: 'Raleway:600',sans-serif;
	position: relative;
	padding: 20px  250px 22px 250px;

}

#hdm_cpy{
	font-family: 'Raleway',sans-serif;
	font-size: 14px;
	bottom: 45px;
	width: 100%;
	position: absolute;
}

/**video background started here*/
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

@media screen and (max-device-width: 800px) {
    html {
         background: url(polina.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}

video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }

/** fontello icons css from here*/
.the-icons {
  font-size: 14px;
  line-height: 24px;
}
.span3 {
  width: 20px;
}

.demo-icon
{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  opacity: .8;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.codesOn .i-code {
	display: inline;
}
.i-code {
  display: none;
}

#footer ul{
	list-style-type: none;
	white-space:nowrap;
	bottom: 90px;
    width: 100%;
	position: absolute;
	padding-left: 0px;
}

#footer ul li{
	display: inline-block;
	position: relative;
	color: white ;
}
