/**
 * @link              http://averta.net
 * @since             1.0.0
 * @package           averta-maintenance
 *
 * */
ul#countdown {
	margin: 10px auto;
	padding: 0;
}
ul#countdown li{
	background-color: #333;
	border: 2px solid #fff;
	color: #fff;
	display: inline;
	float: left;
	font: normal bold 36px Arial;
	letter-spacing: 5px;
	margin-left: 5px;
	text-align: center;
	width: 60px;
	border-radius: 6px;
	box-shadow: 0 0 3px #777;
}
ul#countdown span {
	padding-left: 5px;
}
ul#countdown  p.timeRefDays, ul#countdown  p.timeRefHours, ul#countdown  p.timeRefMinutes, ul#countdown  p.timeRefSeconds{
	font: normal normal 12px Arial;
	letter-spacing: 0;
	margin: 0;
	padding-bottom: 5px;
}

body{
	text-align: center;
	background-color: #00ECB9;
  	font-family: sans-serif;
  	font-weight: 100;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

.clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}
